@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 54px;
  justify-content: space-between;

  div.name_logo {
    display: flex;
    gap: 5px;
    h1 {
      font-size: 34px;
      font-weight: 700;
      color: #000000;
    }
  }
  nav {
    ul {
      display: flex;
      list-style: none;
      gap: 75px;
      a {
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  div.svgs {
    display: flex;
    gap: 45px;
  }
}

main {
  /* section first */
  section.first {
    div.img {
      background-image: url(./images/scandinavian-interior-mockup-wall-decal-background\ 1.png);
      height: 717px;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      background-position: center;
    }
    div.card {
      width: 643px;
      height: 443px;
      position: absolute;
      top: 153px;
      right: 58px;
      background-color: #fff3e3;
      border-radius: 10px;
      padding: 46px 43px 0px 39px;
      span {
        font-size: 16px;
        font-weight: 600;
        color: #333333;
        letter-spacing: 3px;
      }
      h2 {
        font-size: 52px;
        font-weight: 700;
        color: #b88e2f;
        width: 460px;
      }
      p {
        font-size: 18pxpx;
        line-height: 24px;
        font-weight: 500;
        color: #333333;
        margin-top: 17px;
        margin-bottom: 46px;
        width: 480px;
      }
      button.buy_now {
        width: 222px;
        height: 74px;
        background-color: #b88e2f;
        color: white;
        font-size: 16px;
        font-weight: 700;
        border: none;
      }
      button.buy_now:hover {
        cursor: pointer;
        background-color: #b69548;
      }
    }
  }
  /* section second */
  section.second {
    height: 685px;
    margin: 57px 0 56px 0;
    width: auto;
    padding: 0 126px;
    display: flex;
    flex-direction: column;
    align-items: center;
    div.range {
      text-align: center;
      h3 {
        color: #333333;
        font-size: 32px;
        font-weight: 700;
      }
      p {
        color: #666666;
        font-size: 20px;
        font-weight: 400;
        margin-bottom: 63px;
      }
    }
    div.container {
      display: flex;

      gap: 20px;
      div.cards {
        text-align: center;
        display: flex;
        flex-direction: column;
        span {
          font-size: 24px;
          font-weight: 600;
          color: #333333;
          margin-top: 30px;
        }
      }
    }
  }

  /* section third */
  section.third {
    height: 1096px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    margin: 40px 0 69px 0;

    h2 {
      font-size: 40px;
      font-weight: 700;
      color: #3a3a3a;
    }
    div.card_container {
      display: flex;
      flex-direction: column;

      div.small_card_one {
        margin-bottom: 32px;
        div.dark {
          background-image: url(./images/background_leviosa.png);
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          div.color {
            background-color: #3a3a3a;
            width: 285px;
            height: 446px;
            opacity: 72%;
          }
          div.text {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 285px;
            height: 446px;
            gap: 24px;
            button.add {
              width: 202px;
              height: 48px;
              background-color: white;
              color: #b88e2f;
              font-size: 16px;
              font-weight: 600;
              border: none;
            }
            div.text_svgs {
              display: flex;
              align-items: center;
              gap: 20px;
              span {
                display: inline-block;
                color: white;
                font-size: 16px;
                font-weight: 600;
              }
            }
            button.add:hover {
              background-color: rgb(0, 0, 0);
              color: white;
              cursor: pointer;
            }
          }
        }
      }
      div.small_card_one,
      div.small_card_two {
        display: flex;
        gap: 32px;
      }
      div.small_card {
        width: 285px;
        height: 446px;
        background-color: #f4f5f7;
        div.small_text {
          padding: 16px;
        }
        h3 {
          font-size: 24px;
          font-weight: 600;
          color: #3a3a3a;
        }
        p {
          font-size: 16px;
          font-weight: 500;
          color: #898989;
          margin: 8px 0;
        }
        div.spans {
          display: flex;
          align-items: center;
        }
        span {
          font-size: 20px;
          font-weight: 600;
          color: #3a3a3a;
        }
        span.old {
          font-size: 16px;
          font-weight: 400;
          color: #b0b0b0;
          text-decoration: line-through;
          display: inline-block;
          margin-left: 15px;
        }
      }
      div.with_circle {
        position: relative;
        div.new,
        div.sale {
          border-radius: 50%;
          width: 48px;
          height: 48px;
          position: absolute;
          top: 24px;
          right: 24px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        div.new {
          background-color: #2ec1ac;
        }
        div.sale {
          background-color: #e97171;
        }
        span.circle_span {
          display: inline-block;
          color: white;
          font-size: 16px;
          font-weight: 500;
        }
      }
    }
    button.show_more {
      width: 245px;
      height: 48px;
      border: 1px solid #b88e2f;
      background-color: transparent;
      color: #b88e2f;
      font-size: 16px;
      font-weight: 600;
    }
    button.show_more:hover {
      background-color: #b88e2f;
      color: white;
    }
  }
}
