@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

header {
  height: 100px;
  display: flex;
  align-items: center;
  padding: 0 54px;
  justify-content: space-between;

  div.name_logo {
    display: flex;
    gap: 5px;
    h1 {
      font-size: 34px;
      font-weight: 700;
      color: #000000;
    }
  }
  nav {
    ul {
      display: flex;
      list-style: none;
      gap: 75px;
      a {
        text-decoration: none;
        color: #000000;
        font-size: 16px;
        font-weight: 500;
      }
    }
  }
  div.svgs {
    display: flex;
    gap: 45px;
  }
}

main {
  /* section first */
  section.first {
    div.img {
      background-image: url(./images/scandinavian-interior-mockup-wall-decal-background\ 1.png);
      height: 717px;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
      background-position: center;
    }
    div.card {
      width: 643px;
      height: 443px;
      position: absolute;
      top: 153px;
      right: 58px;
      background-color: #fff3e3;
      border-radius: 10px;
      padding: 46px 43px 0px 39px;
      span {
        font-size: 16px;
        font-weight: 600;
        color: #333333;
        letter-spacing: 3px;
      }
      h2 {
        font-size: 52px;
        font-weight: 700;
        color: #b88e2f;
        width: 460px;
      }
      p {
        font-size: 18pxpx;
        line-height: 24px;
        font-weight: 500;
        color: #333333;
        margin-top: 17px;
        margin-bottom: 46px;
        width: 480px;
      }
      button.buy_now {
        width: 222px;
        height: 74px;
        background-color: #b88e2f;
        color: white;
        font-size: 16px;
        font-weight: 700;
        border: none;
      }
      button.buy_now:hover {
        cursor: pointer;
        background-color: #b69548;
      }
    }
  }
}
